<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="distributed_architecture_admin_index" controller="giudicelli\DistributedArchitectureAdminBundle\Controller\ProcessStateController::index" path="/" methods="GET">
    </route>

    <route id="distributed_architecture_admin_search" controller="giudicelli\DistributedArchitectureAdminBundle\Controller\ProcessStateController::search" path="/search" methods="POST">
    </route>

    <route id="distributed_architecture_admin_command" controller="giudicelli\DistributedArchitectureAdminBundle\Controller\ProcessStateController::command" path="/command" methods="POST">
    </route>
</routes>
